.login {
	-fx-background-color:linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
	background-color: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
}
.login-titulo{
	-fx-font-size: 18px;
	font-size: 24px;
	-fx-text-fill: #FFF;
}
.login-form-label {
	-fx-font-size: 16px;
	font-size: 16px;
	-fx-text-fill: #FFF;
}
.login-form-botao {
	-fx-font-size: 16px;
	font-size: 16px;
}